@import url('https://fonts.googleapis.com/css?family=Signika:300,400,700');

.main-wrap{
	font-family: 'Signika', sans-serif;
}

.section1{
	background: #fff;
	padding: 10px;
}
.section2{
	background-color: #fafcfe;
	border-top: 1px solid #edeff1;
	border-bottom: 1px solid #edeff1;
}

.main-wrap .main-header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-wrap .main-header h1.title{
	text-align: center;
	font-size: 6em;
	text-transform: uppercase;
	color: #47383F;
	font-weight: lighter;
	letter-spacing: 2px;
	margin: 20px 0 10px;
	line-height: 1;
}

@media only screen and (max-width: 576px) {

   .main-wrap .main-header h1.title {
      font-size: 2em;
   }
}

@media only screen and (max-width: 768px) {

   .main-wrap .main-header h1.title {
      font-size: 3em;
   }
}

@media only screen and (max-width: 992px) {

   .main-wrap .main-header h1.title {
      font-size: 4em;
   }
}

@media only screen and (min-width: 1200px) {

   .main-wrap .main-header h1.title {
      font-size: 6em;
   }
}

.main-wrap .main-header p.message{
	text-align: center;
	font-size: 1.40em;
	color: #47383F;
	letter-spacing: 1px;
	margin: 0 0 20px;
}

.box-blue{
	border: 1px solid #edeff1;
	border-top: 5px solid #ff9b12;
	border-radius: 3px;
	margin: 10px;
	padding: 10px;
}

.box-blue .content{
	display: flex;
	align-items: center;
}

.box-blue .content img{
	width: 64px;
	height: 64px;
	padding: 5px 10px 5px 0;
}

.box-blue h2.title{
	font-weight: 300;
	text-transform: uppercase;
}

.box-blue p{
	margin: 0;
}

.box-blue p span{
	margin-left: 5px;
}

.col-md-4{
	margin: 0;
	padding: 0;
}

.main-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.main-footer p{
	margin: 0;
}

ul{
	margin: 0;
	padding-left: 20px;
}

.tv{
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.tv span{
	font-size: 11px;
}
